appdirs==1.4.4
asgiref==3.3.4
attrs==20.3.0
certifi==2021.5.30
chardet==4.0.0
cheap-repr==0.4.5
colorama==0.4.4
crayons==0.3.1
distlib==0.3.2
Django==3.2.5
filelock==3.0.12
get-port==0.0.5
idna==2.10
importlib-metadata==4.6.0
jsonpickle==1.5.2
more-itertools==8.8.0
msgpack==1.0.2
portpicker==1.4.0
Pygments==2.9.0
python-decouple==3.4
pytz==2021.1
requests==2.25.1
shortuuid==1.0.1
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.4.7
zipp==3.4.1
