<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>welcome to e-commerce</h1>
    <p>what are you searching today?</p>
    <ol>
        <li><a href="/project1path/electronics">electronics</a></li>
        <li><a href="/project1path/toys">toys</a></li>
        <li><a href="/project1path/shoes">shoes</a></li>
    </ol>
</body>
</html>