<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Project</title>
</head>
<body>
    {% if project %}
    <table>
        <thead>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Assigned to</th>
            <th>Priority</th>
        </thead>
        {% for p in project %}
        <tr>
            <td>{{p.name}}</td>
            <td>{{p.startdate}}</td>
            <td>{{p.enddate}}</td>
            <td>{{p.assignedto}}</td>
            <td>{{p.priority}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No projects</p>
    {% endif %}
</body>
</html>